body {
  font-family: arial;
  margin: 0;
}

#my-page {
  background-image: url(assets/salle.png);
  background-size: cover;
  background-position: center center;
}

.fond-blanc {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 20px 80px;
}

* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: rgb(167, 110, 93);
  border-radius: 10px;
  border: 5px solid rgb(109, 28, 8);
}

header #logo img {
  height: 100px;
  border-radius: 5px;
  margin-left: 5px;
}

header nav {
  height: 100px;
  width: 100%;
}

header nav ul {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: darkgreen;
}

header nav ul li a:hover {
  color: rgb(109, 28, 8);
}

h1 h2 {
  margin-left: 10px;
}

.info {
  padding-left: 10px;
  margin: 15px;
}

#map {
  display: flex;
  justify-content: "";
  width: 150px;
  height: 150px;
}

form {
  display: flex;
  flex-direction: column;
  width: 30em;
  margin: 20px auto;
}

form input {
  margin: 10px;
}
form label {
  padding-left: 10px;
}
form textarea {
  padding-left: 10px;
  margin-left: 10px;
}
.envoyer {
  margin-bottom: 30px;
}
footer ul {
  display: flex;
  justify-content: space-around;
}

footer ul li {
  list-style: none;
  color: white;
}

/*PROCHAINEMENT PAGE ACCUEIL--------------------------------------*/

#next {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 50px 30px;
  padding: 10px 0;
}
#next h1 {
  width: 100%;
  margin: 60px auto;
  text-align: center;
  font-size: 60px;
}

#next ul {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

#next ul li {
  list-style: none;
}

#next ul li img {
  width: 400px;
}

/*PAGE A L AFFICHE--------------------------------------*/
#posters-alaffiche {
  margin-bottom: 60px;
}

#posters-prochainement {
  margin: 20px 0;
}

.posters-container h3 {
  font-size: 35px;
  text-align: center;
  padding-top: 70px;
}

.posters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.poster {
  width: 400px;
  margin: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
}

.poster-img {
  background-size: cover;
  background-position: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

.poster-body {
  padding: 10px 0px;
}

.poster-title {
  margin: 10px 0px;
  text-align: center;
}

.poster-description {
  text-align: left;
  font-size: 20px;
}

/*fiche reservation*/
.p1 {
  text-align: center;
  margin-top: 260px;
}

.input {
  flex-direction: column;
  margin-left: 351px;
  margin-top: 60px;
}

.movie {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 210px;
  margin-top: 8px;
}

.choixfilm {
  background-color: khaki;
  align-items: stretch;
  font-family: "Rubik", sans-serif;
}
.affiche {
  margin-left: 351px;
  margin-top: 60px;
  background-color: khaki;
  align-items: stretch;
  font-family: "Rubik", sans-serif;
}
.result {
  margin-left: 500px;
  margin-top: 8px;
}
.button {
  border-radius: 8px;
  background-color: white;
  margin-left: 351px;
  height: 80px;
  width: 80px;
  margin-top: 10px;
  font-size: 16px;
}
