body {
  font-family: arial;
  margin: 0;
}


#my-page {
background-image: url(assets/salle.png);
}

* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

header #logo img {
  height: 100px;
}

header nav {
  height: 100px;
  width: 100%;
}

header nav ul {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: darkgreen;
}

header nav ul li a:hover {
  text-decoration: darkgreen;
}

h1 h2 {
    margin-left: 10px;
}

div {
    padding-left: 10px;
    margin: 15px;
}

#map {
display: flex;
justify-content: ;
width: 150px; 
height: 150px;  
}

form {
    display: flex;
    flex-direction: column;
    width: 30em;
    margin: 20px auto;
}

form input {
    margin: 10px;
}
form label {
    padding-left: 10px;
}
form textarea {
    padding-left: 10px;
    margin-left: 10px;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer ul li {
  list-style: none;
  color: blue;
}

/*PROCHAINEMENT PAGE ACCUEIL--------------------------------------*/
h1 {
  width: 100%;
  margin: 60px auto;
  text-align: center;
  font-size: 60px;
}

#next ul {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

#next ul li {
  list-style: none;
}

#next ul li img {
  width: 400px;
}

/*PAGE A L AFFICHE--------------------------------------*/

main div h3 {
  display: flex;
}

#posters-prochainement {
  margin: 50px 0;
}

#posters-alaffiche {
  margin-bottom: 60px;
}

.posters {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.poster {
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.poster-img {
  background-size: cover;
  background-position: center;
  margin: 20px;
  height: 100%;
  width: 100%;
}

.poster-body {
  padding: 10px 0px;
}

.poster-title {
  margin: 10px 0px;
  text-align: center;
}

.poster-description {
  text-align: left;
}

